{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic"><strong>Hotel Grand, Mumbai</strong></h1>
        <p class="lead my-1"><i>Comfort and Convinience at...the Only One.</i></p>
        <p class="lead my-1"><strong>Located 5 minutes from the Airport , next to the National Park.</strong></p>  
      </div>
    </div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/17.jpg" class="d-block w-100" alt="...">
              </div>
            
          </div>
       </div>
      
    <div class="row g-5 my-4  ">
      <div class="col-md-8 mb-5">
  
        <article class="blog-post mb-5">
          <h1 class="blog-post-title mb-1">Our Mission:</h1>
            <p><i> To acquire the loyalty of our clients by exceeding their expectations in offering comfort, convenience and efficient services.</i></p>
            <h1 class="blog-post-title mb-1 my-1">Vision:</h1> 
             <p><i>To be the preferred hotel recognized for providing world class affordable hospitality.</i></p>
            
             <h1 class="blog-post-title mb-1 my-1">Core Values:</h1>
             <p><i> service, Integrity, Respect, Teamwork & Passion and Continuous Improvement.</i></p>
          
        </article>

        
    
       
        <article class="blog-post ">
          <h2 class="blog-post-title mb-1">Hotel Grand Enviroment Policy</h2>
          
          
  
          <p class="my-3">With our vision “To acquire the loyalty of our clients by exceeding their expectations in offering comfort, convenience and efficient services.” we are committed to continually improving the environmental that we operate in as well as ensuring social sustainability.<strong> Hotel Grand</strong>identifies and refines existing policies clearly following the standards, legislation and bench-marking of third-party authorities..</p>
        </article>
   
        <article class="blog-post">
          <h2 class="blog-post-title mb-1">Social Responsibility</h2>
          
          <p class="my-2"><strong>Hotel Grand</strong> is affiliated with the Amriti Foundation. The Hotel and the Foundation continuously support various CSR initiative as a way of giving back to society, in line with the companies’ Sustainable Development Goals.          <p> To participate in any of noble causes, contact us or reach out to the Amriti Foundation Trust and we will be more than happy to provide further details and information..</p>
        </article>
  
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill my-4" href="#">Download Hotel Brochure</a>
          
        </nav>
  
      </div>
  
      <div class="col-md-4 my-2">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About Our Hotel</h4>
            <p class="mb-0">Welcome to Hotel Grand, a contemporary style hotel that provides all the comfort, convenience and efficiency to the discerning traveler. Ideally located along Mumbai, offering the best choice venue for your Business and Leisure stay..</p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Why Choose <strong>Hotel Grand</strong></h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">Location</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Affordability</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Technology</a></li>
              
            </ol>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Other Contact options</h4>
            <ol class="list-unstyled">
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Quick Links</a></li>
              <li><a href="#">Email</a></li>

            </ol>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  <footer class="blog-footer text-center">
    <p><strong>Website built by me.</strong></p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
{% endblock body %}
